---
import { getCollection } from "astro:content";
import StyledDate from "../components/date.astro";

import "../styles/global.css";
import { toAttributeString } from "astro/runtime/server/render/util.js";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.updatedAt.valueOf() - a.data.updatedAt.valueOf()
);

const title = "Krish | Blogs";
const description =
  "You are welcomed to my blog space where I share my silly thoughts.";
const canonicalUrl = Astro.site
  ? new URL(Astro.url.pathname, Astro.site).toString()
  : undefined;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    {canonicalUrl && <meta property="og:url" content={canonicalUrl} />}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section
      class="bg-black flex justify-center w-full min-h-screen h-full py-2 m-0"
    >
      <main class="max-w-4xl w-full bg-[#171717] text-stone-50 p-10 rounded">
        <h1 class="font-brand text-6xl font-bold">
          Hot Picks at Krish's Blogs
        </h1>
        <p class="my-2 text-gray-200">
          You are welcomed to my blog space where I share my silly thoughts,
          hope you enjoy your visit! Stay Hydrated!
        </p>
        <div>
          {
            posts.length === 0 && (
              <p class="text-4xl font-mono text-center my-24">
                No posts yet :(
              </p>
            )
          }

          <div class="my-10 space-y-6">
            {
              posts.map((post) => (
                <a href={`/posts/${post.id}`}>
                  <article class="bg-zinc-950 rounded-lg p-6 hover:bg-slate-950 transition-colors">
                    <p class="text-4xl font-brand font-semibold">
                      {post.data.title}
                    </p>
                    <p class="font-mono text-gray-200 my-2">
                      {post.data.description}
                    </p>
                    <p class="text-black font-mono my-1">
                      {post.data.tags?.map((tag) => (
                        <span class="text-sm/5">
                          <span class="bg-yellow-200 rounded px-2">{tag}</span>
                        </span>
                      ))}
                    </p>
                    <p class="text-gray-400 font-mono text-sm">
                      Updated on <StyledDate date={post.data.updatedAt} />
                    </p>
                  </article>
                </a>
              ))
            }
          </div>
        </div>
      </main>
    </section>
  </body>
</html>
